/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&family=Oxygen:wght@300;400;700&display=swap');

/* Var */

:root {
    --main_font: 'Oxanium', cursive;
    --second_font: 'Oxygen', sans serif;

    --first-color: white;
    --second-color: rgb(15, 15, 15);
    --third-color: rgb(0, 0, 0);

    --font_size_first: 35px;
    --font_size_second: 30px;
    --font_size_third: 25px;
    --font_size_fourth: 20px;

    overflow-x: hidden;
}

body {
    font-family: var(--second_font);
    font-size: var(--font_size_third);
    list-style: none;
}

#navbar {
    font-size: var(--font_size_second);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    line-height: 2.5em;
    color: var(--first-color);
    background-color: var(--third-color);
}

    #logotipo {
        font-family: var(--main_font);
        font-size: var(--font_size_first);
        padding: 0em 1em;
    }

    #navbar > a {
        padding: 0em 2em;
    }

#welcome-section {
    font-size: var(--font_size_first);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    font-weight: 300;
}

    #name {
        grid-area: 2 / 1 / 3 / 2;
        align-self: baseline;
        text-align: right;
        line-height: 75px;
        font-size: 50px;
    }

        #technology {
            width: 60%;
            display: flex;
            justify-content: right;
            float: right;
        }

        #technology > img {
            height: 32px;
            width: auto;
            margin-left: 5%;
        }

    #description {
        grid-area: 2 / 2 / 3 / 3;
        align-self: baseline;
        padding: 0em 0em 0em 1em;
        width: 50%;
    }

#projects {
    width: 100%;
    display: grid;
    grid-template-columns: 30vw 35vw 35vw;
    grid-template-rows: 10vh 80vh 80vh 80vh;
    grid-gap: 5% 0;
    margin-bottom: 50vh;
}

    #vec_projects {
        background-color: var(--second-color);
    }

    #project_title {
        grid-area: 1 / 2 / 2 / 4;
        padding-left: 1em;
        align-self: baseline;
    }

    #first_project {
        grid-area: 2 / 1 / 3 / 2;
    }

        #iframe_first_project {
            grid-area: 2 / 2 / 3 / 4;
            width: 100%;
            height: 100%;
        }

    #second_project {
        grid-area: 3 / 1 / 4 / 2;
    }

        #iframe_second_project {
            grid-area: 3 / 2 / 4 / 4;
            width: 100%;
            height: 100%;
        }

    #third_project {
        grid-area: 4 / 1 / 5 / 2;
    }

        #iframe_third_project {
            grid-area: 4 / 2 / 5 / 4;
            width: 100%;
            height: 90%;
        }


        #footer {
            background: var(--background-color);
            color: var(--secundary-color-text);
            position: absolute;
            left: 0;
            width: 100%;
            line-height: 1.5em;
            font-family: var(--secundary-font-family);
            font-size: var(--font-size-smaller);
            display: grid;
            display: non;
            grid-template-columns: 2fr repeat(2, 1fr);
            grid-template-rows: 1fr 3fr 1fr;
        }
        
        .icon-footer {
            width: 30px;
            height: 30px;
        }
        
        #presenting-title-footer {
            grid-area: 1/1/1/2;
            font-size: var(--font-size-medium);
        }
        
        #presenting-text-footer {
            grid-area: 2/1/2/2;
            padding-left: 40px;
            padding-top: 1em;
        }
        
        .title-footer {
            font-size: var(--font-size-smaller);
            font-weight: 600;
            align-self: end;
            padding-left: 40px;
            padding-top: 20px;
            color: var(--main-color-text);
        }
        
        #first-title-footer {
            grid-area: 1/2/1/3;
            align-self: end;
        }
        
        #second-title-footer {
            grid-area: 1/3/1/4;
        }
        
        #academic-info-footer {
            grid-area: 2/2/2/3;
        }
        
        #contact-info-footer {
            grid-area: 2/3/2/4;
        }
        
        li {
            list-style: none;
        }
        
        li:hover {
            animation: grow-scale 500ms ease forwards;
        }
        
        a {
            text-decoration: none;
            color: var(--main-color-text);
        }
        
        #down-bar {
            grid-area: 3/1/3/4;
            text-align: center;
            padding: 1em 0 1em 0;
            color: var(--first-color);
            background: var(--third-color);
        }
        



/* Unset */


h1, h2 {
    all: unset;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Media Quary */


@media screen and (min-width: 300px) and (max-width: 600px) {
    body {
        background-color: pink;
    }
}